#include "resource.h"

IDR_ICON_123 PNG "assets/icons/123.png"
IDR_ICON_ARROW_LEFT_CIRCLE_FILL PNG "assets/icons/arrow-left-circle-fill.png"
IDR_ICON_ARROW_RIGHT_CIRCLE_FILL PNG "assets/icons/arrow-right-circle-fill.png"
IDR_ICON_BRACES_ASTERISK PNG "assets/icons/braces-asterisk.png"
IDR_ICON_BRACES PNG "assets/icons/braces.png"
IDR_ICON_CODE_SQUARE PNG "assets/icons/code-square.png"
IDR_ICON_EYE_FILL PNG "assets/icons/eye-fill.png"
IDR_ICON_FILE_CODE PNG "assets/icons/file-code.png"
IDR_ICON_FILE_EARMARK_FILL PNG "assets/icons/file-earmark-fill.png"
IDR_ICON_FILE_EARMARK_PLUS_FILL PNG "assets/icons/file-earmark-plus-fill.png"
IDR_ICON_FILES PNG "assets/icons/files.png"
IDR_ICON_FILETYPE_BMP PNG "assets/icons/filetype-bmp.png"
IDR_ICON_FILETYPE_CSS PNG "assets/icons/filetype-css.png"
IDR_ICON_FILETYPE_CSV PNG "assets/icons/filetype-csv.png"
IDR_ICON_FILETYPE_EXE PNG "assets/icons/filetype-exe.png"
IDR_ICON_FILETYPE_GIF PNG "assets/icons/filetype-gif.png"
IDR_ICON_FILETYPE_HEIC PNG "assets/icons/filetype-heic.png"
IDR_ICON_FILETYPE_HTML PNG "assets/icons/filetype-html.png"
IDR_ICON_FILETYPE_JAVA PNG "assets/icons/filetype-java.png"
IDR_ICON_FILETYPE_JPG PNG "assets/icons/filetype-jpg.png"
IDR_ICON_FILETYPE_JS PNG "assets/icons/filetype-js.png"
IDR_ICON_FILETYPE_JSON PNG "assets/icons/filetype-json.png"
IDR_ICON_FILETYPE_JSX PNG "assets/icons/filetype-jsx.png"
IDR_ICON_FILETYPE_MD PNG "assets/icons/filetype-md.png"
IDR_ICON_FILETYPE_MDX PNG "assets/icons/filetype-mdx.png"
IDR_ICON_FILETYPE_MP3 PNG "assets/icons/filetype-mp3.png"
IDR_ICON_FILETYPE_MP4 PNG "assets/icons/filetype-mp4.png"
IDR_ICON_FILETYPE_PDF PNG "assets/icons/filetype-pdf.png"
IDR_ICON_FILETYPE_PHP PNG "assets/icons/filetype-php.png"
IDR_ICON_FILETYPE_PNG PNG "assets/icons/filetype-png.png"
IDR_ICON_FILETYPE_PSD PNG "assets/icons/filetype-psd.png"
IDR_ICON_FILETYPE_PY PNG "assets/icons/filetype-py.png"
IDR_ICON_FILETYPE_RB PNG "assets/icons/filetype-rb.png"
IDR_ICON_FILETYPE_SASS PNG "assets/icons/filetype-sass.png"
IDR_ICON_FILETYPE_SCSS PNG "assets/icons/filetype-scss.png"
IDR_ICON_FILETYPE_SH PNG "assets/icons/filetype-sh.png"
IDR_ICON_FILETYPE_SQL PNG "assets/icons/filetype-sql.png"
IDR_ICON_FILETYPE_SVG PNG "assets/icons/filetype-svg.png"
IDR_ICON_FILETYPE_TIFF PNG "assets/icons/filetype-tiff.png"
IDR_ICON_FILETYPE_TSX PNG "assets/icons/filetype-tsx.png"
IDR_ICON_FILETYPE_TTF PNG "assets/icons/filetype-ttf.png"
IDR_ICON_FILETYPE_TXT PNG "assets/icons/filetype-txt.png"
IDR_ICON_FILETYPE_WAV PNG "assets/icons/filetype-wav.png"
IDR_ICON_FILETYPE_WOFF PNG "assets/icons/filetype-woff.png"
IDR_ICON_FILETYPE_XLS PNG "assets/icons/filetype-xls.png"
IDR_ICON_FILETYPE_XLSX PNG "assets/icons/filetype-xlsx.png"
IDR_ICON_FILETYPE_XML PNG "assets/icons/filetype-xml.png"
IDR_ICON_FILETYPE_YML PNG "assets/icons/filetype-yml.png"
IDR_ICON_FOLDER_FILL PNG "assets/icons/folder-fill.png"
IDR_ICON_FOLDER_PLUS PNG "assets/icons/folder-plus.png"
IDR_ICON_FOLDER2_OPEN PNG "assets/icons/folder2-open.png"
IDR_ICON_GEAR_FILL PNG "assets/icons/gear-fill.png"
IDR_ICON_GITHUB PNG "assets/icons/github.png"
IDR_ICON_GLOBE PNG "assets/icons/globe.png"
IDR_ICON_HASH PNG "assets/icons/hash.png"
IDR_ICON_JOURNAL_CODE PNG "assets/icons/journal-code.png"
IDR_ICON_JOURNAL PNG "assets/icons/journal.png"
IDR_ICON_KEY_FILL PNG "assets/icons/key-fill.png"
IDR_ICON_LIST_NESTED PNG "assets/icons/list-nested.png"
IDR_ICON_LIST PNG "assets/icons/list.png"
IDR_ICON_MAGIC PNG "assets/icons/magic.png"
IDR_ICON_PLAY_FILL PNG "assets/icons/play-fill.png"
IDR_ICON_RULERS PNG "assets/icons/rulers.png"
IDR_ICON_SAVE PNG "assets/icons/save.png"
IDR_ICON_STAR_FILL PNG "assets/icons/star-fill.png"
IDR_ICON_TERMINAL_FILL PNG "assets/icons/terminal-fill.png"
IDR_ICON_TYPE PNG "assets/icons/type.png"
IDR_ICON_WINDOW_SIDEBAR PNG "assets/icons/window-sidebar.png"
IDR_ICON_ZOOM_IN PNG "assets/icons/zoom-in.png"
IDR_ICON_ZOOM_OUT PNG "assets/icons/zoom-out.png"
